body {
  font-family: fantasy;
  margin: 0;
  padding: 0;
  background-color: deepskyblue;
  color: black;
}

#container {
  padding: 50px 0;
  width: 500px;
  margin: 0 auto;
}

.link {
  list-style: black;
  color: black;
  font-size: 2em;
}

.link a {
  color: black;
}

a {
  color: yellow;
  transition: color 500ms
}

a:hover {
  color: yellow;
}